.services {
    position: relative;
    .service-cards {
        position: absolute;
        border-radius: 9px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        // height: 260px;
        padding: 30px 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        top: -130px;
        background-color: #fff;
        animation: heroTitle 1.5s 0.2s 1 ease-in-out;

        .serviceCard {
            text-align: center;
            margin: 30px 0;
            i {
                font-size: 52px;
                color: rgb(184, 184, 184);
            }

            .title {
                margin-top: 12px;
                font-family: 'Work Sans', sans-serif;
                font-size: 22px;
                color: black;
                font-weight: 500;
            }

        }
    }

    .container {
        justify-content: space-between;

        &>.title {
            margin-top: 320px;
            text-align: center;
            font-size: 38px;
            font-family: 'Roboto', sans-serif;
        }

        .serviceCards {
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 30px;
        }

        .serviceCardOut {
            text-align: center;
            margin-top: 40px;

            .title {
                font-size: 27px;
                font-family: 'Work Sans', sans-serif;
            }

            .text {
                color: #afafaf;
                margin-top: 12px;
            }

        }

        .servicesButton{
            margin-top: 80px;
            a{
                background-color: black;
                color: white;
                padding: 16px 24px;
                letter-spacing: 1px;
                transition: 0.3s;
                &:hover{
                    background-color: rgb(71, 71, 71);

                }
            }
        }

    }
}
.result{
    // background-color: #e8e6e4;
    margin-top: 150px;
    
    .container{
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;

        .resultCards{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
            // margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .resultCard{
                height: 350px;
                background-color: #afafaf;
                .content{
                    width: 100%;
                    height: 100%;
                    // border: 1px solid red;
                    opacity: 0.6;
                    transition: 0.4s;
                    background-color: black;
                    .title{
                        opacity: 0;
                        color: white;
                    }
                    &:hover {
                        opacity: 0.1;
                        color: white;
                        & .title{
                            opacity: 3;
                        }
                    }
                }
            }
            .res-1{
                background-image: url("./res1.png");
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            
            }
            .res-2{
                background-image: url("./res2.png");
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .res-3{
                background-image: url("./res3.png");
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .res-4{
                background-image: url("./res4.png");
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            .res-5{
                background-image: url("./res5.png");
                background-color: #cccccc;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            
        }
    }
}
@media only screen and (max-width: 700px) {
    .services{
        .container {
            &>.title {
                margin-top: 440px;
                font-size: 32px;
            }
        }
    }
}
@media only screen and (max-width: 590px) {
    .service-cards{
        right: 50px;
    }
    .resultCards{
        display: none !important;
    }
    .services{
        .container {
            &>.title {
                margin-top: 600px;
                font-size: 30px;
            }
        }
    }
}
@media only screen and (max-width: 400px) {
    .services{
        .container {
            &>.title {
                margin-top: 700px;
                font-size: 26px;
            }
        }
    }
}

